language: cpp

addons:
  apt:
    sources:
      - llvm-toolchain-precise
      - ubuntu-toolchain-r-test
    packages:
      - clang-3.8
      - g++-5
      
install:
  - if [[ "$CXX" = "g++" && "$TRAVIS_OS_NAME" = "linux" ]]; then export CXX="g++-5"; fi
  - if [[ "$CXX" = "clang++" && "$TRAVIS_OS_NAME" = "linux" ]]; then export CXX="clang++-3.8"; fi
  
script: 
  - cd Matrix
  - if [[ "$TRAVIS_OS_NAME" = "linux" ]]; then 
      libtool --tag=CXX --mode=compile $CXX -std=c++0x -g -O -c Matrix.cpp; 
    else  
      $CXX -c Matrix.cpp -o Matrix.o;
    fi
  - if [[ "$TRAVIS_OS_NAME" = "linux" ]]; then 
      libtool --tag=CXX --mode=compile $CXX -std=c++0x -g -O -c operators.cpp; 
    else
      $CXX -c operators.cpp -o operators.o;
    fi
  - if [[ "$TRAVIS_OS_NAME" = "linux" ]]; then 
      libtool --tag=CXX --mode=link $CXX -std=c++0x -g -O -o libMatrix.a Matrix.lo operators.lo; 
    else
      libtool -static operators.o Matrix.o -o libMatrix.a;
    fi
  - cd ../Matrix_test
  - $CXX -std=c++0x -L ../Matrix -I ../Matrix main.cpp Tests.cpp -o Test -lMatrix

compiler:
    - gcc 
    - clang
    
os:
   - linux
   - osx 




